<div class="row">
    <div class="col-lg-6">
        <h2>Estilo Musical</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <form [formGroup]="myForm" autocomplete="off">
   
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo">
                  </mat-form-field>
                  <div *ngIf="myForm.get('correo').hasError('required') && myForm.get('correo').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
                <div *ngIf="myForm.get('correo').hasError('email') && myForm.get('correo').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <br>
            <br>
  
      
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Género Musical</mat-label>
                    <mat-select formControlName="generoMusical">
                      <mat-option *ngFor="let generoMusical of generoMusicales" [value]="generoMusical">
                        {{ generoMusical }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="myForm.get('generoMusical').hasError('required') && myForm.get('generoMusical').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
          
            <br>
            <div class="col-lg-12">
                <button class="btn btn-success btn-lg float-right" [disabled]="myForm.invalid"
                type="button" style="margin-left: 10px;" (click)="guardarEncuestaPersona()">Aceptar</button>
                <button class="btn btn-secondary btn-lg float-right" routerLink="/"
                        type="button">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <img src="../../../assets/img/crear-usuario.jpg" alt="" width="95%" height="95%">
    </div>
</div>